In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

import acquire_zillow
from acquire_zillow import get_connection

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree

import scipy.stats as stats
from scipy.stats import pearsonr

import graphviz
from graphviz import Graph

import env

In [2]:
from acquire_zillow import get_properties_2016
from acquire_zillow import get_properties_2017
from acquire_zillow import get_zillow_csv

In [3]:
get_zillow_csv()

In [56]:
df = pd.read_csv('zillow_properties.csv')

In [57]:
df.shape

(167854, 68)

In [58]:
df.tail().T

,167849,167850,167851,167852,167853
id,2864704,673515,2968375,1843709,1187175
parcelid,10833991,11000655,17239384,12773139,12826780
airconditioningtypeid,1,NaN,NaN,1,NaN
architecturalstyletypeid,NaN,NaN,NaN,NaN,NaN
basementsqft,NaN,NaN,NaN,NaN,NaN
bathroomcnt,3,2,2,1,2
bedroomcnt,3,2,4,3,3
buildingclasstypeid,NaN,NaN,NaN,NaN,NaN
buildingqualitytypeid,8,6,NaN,4,6
calculatedbathnbr,3,2,2,1,2
decktypeid,NaN,NaN,NaN,NaN,NaN
finishedfloor1squarefeet,NaN,NaN,1612,NaN,NaN
calculatedfinishedsquarefeet,1741,1286,1612,1032,1762
finishedsquarefeet12,1741,1286,1612,1032,1762
finishedsquarefeet13,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet15,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet50,NaN,NaN,1612,NaN,NaN
finishedsquarefeet6,NaN,NaN,NaN,NaN,NaN
fips,6037,6037,6111,6037,6037
fireplacecnt,NaN,NaN,1,NaN,NaN
fullbathcnt,3,2,2,1,2
garagecarcnt,NaN,NaN,2,NaN,NaN
garagetotalsqft,NaN,NaN,560,NaN,NaN
hashottuborspa,NaN,NaN,NaN,NaN,NaN
heatingorsystemtypeid,2,2,NaN,2,2
latitude,3.42024e+07,3.42454e+07,3.43001e+07,3.40409e+07,3.39377e+07
longitude,-1.18502e+08,-1.18282e+08,-1.18706e+08,-1.18038e+08,-1.17997e+08
lotsizesquarefeet,59487,47405,12105,5074,6347
poolcnt,1,NaN,NaN,NaN,NaN
poolsizesum,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
regionidcounty,3101,3101,2061,3101,3101
regionidneighborhood,32368,27328,NaN,NaN,NaN
regionidzip,96415,96284,97116,96480,96171
roomcnt,0,0,7,0,0
storytypeid,NaN,NaN,NaN,NaN,NaN
threequarterbathnbr,NaN,NaN,NaN,NaN,NaN
typeconstructiontypeid,NaN,NaN,NaN,NaN,NaN
unitcnt,1,1,NaN,1,1
yardbuildingsqft17,NaN,NaN,656,NaN,NaN
yardbuildingsqft26,NaN,NaN,NaN,NaN,NaN
yearbuilt,1980,1940,1964,1954,1955
numberofstories,NaN,NaN,1,NaN,NaN
fireplaceflag,NaN,NaN,NaN,NaN,NaN
structuretaxvaluedollarcnt,265000,70917,50683,32797,140000
taxvaluedollarcnt,379000,354621,67205,49546,522000
assessmentyear,2016,2016,2016,2016,2016
landtaxvaluedollarcnt,114000,283704,16522,16749,382000
taxamount,4685.34,4478.43,1107.48,876.43,6317.15
taxdelinquencyflag,NaN,NaN,NaN,NaN,NaN
taxdelinquencyyear,NaN,NaN,NaN,NaN,NaN
censustractandblock,6.03713e+13,6.0371e+13,6.11101e+13,6.03743e+13,6.0375e+13
logerror,-0.00224549,0.0206154,0.0132086,0.0371288,0.00720394
transactiondate,2017-09-20,2017-09-20,2017-09-21,2017-09-21,2017-09-25
airconditioningdesc,Central,NaN,NaN,Central,NaN
architecturalstyledesc,NaN,NaN,NaN,NaN,NaN
buildingclassdesc,NaN,NaN,NaN,NaN,NaN
heatingorsystemdesc,Central,Central,NaN,Central,Central
propertylandusedesc,Condominium,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential
storydesc,NaN,NaN,NaN,NaN,NaN
typeconstructiondesc,NaN,NaN,NaN,NaN,NaN

In [59]:
def reindex_zillow(df):
    return df.reindex_axis(['parcelid',
 'logerror',
 'bedroomcnt',
 'bathroomcnt',
 'calculatedfinishedsquarefeet',
 'transactiondate',
 'yearbuilt',
 'fips',
 'latitude',
 'longitude',
 'airconditioningtypeid',
 'airconditioningdesc',
 'architecturalstyletypeid',
 'architecturalstyledesc',
 'basementsqft',
 'buildingclasstypeid',
 'buildingqualitytypeid',
 'buildingclassdesc',
 'calculatedbathnbr',
 'decktypeid',
 'finishedfloor1squarefeet',
 'finishedsquarefeet12',
 'finishedsquarefeet13',
 'finishedsquarefeet15',
 'finishedsquarefeet50',
 'finishedsquarefeet6',
 'fireplacecnt',
 'fullbathcnt',
 'garagecarcnt',
 'garagetotalsqft',
 'hashottuborspa',
 'heatingorsystemtypeid',
 'heatingorsystemdesc',
 'lotsizesquarefeet',
 'poolcnt',
 'poolsizesum',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'propertycountylandusecode',
 'propertylandusetypeid',
 'propertylandusedesc',
 'propertyzoningdesc',
 'rawcensustractandblock',
 'regionidcity',
 'regionidcounty',
 'regionidneighborhood',
 'regionidzip',
 'roomcnt',
 'storytypeid',
 'storydesc',
 'threequarterbathnbr',
 'typeconstructiontypeid',
 'typeconstructiondesc',
 'unitcnt',
 'yardbuildingsqft17',
 'yardbuildingsqft26',
 'numberofstories',
 'fireplaceflag',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'assessmentyear',
 'landtaxvaluedollarcnt',
 'taxamount',
 'taxdelinquencyflag',
 'taxdelinquencyyear',
 'censustractandblock'], axis=1)

In [60]:
df['propertylandusedesc'].value_counts()

Single Family Residential                     113078
Condominium                                    42157
Duplex (2 Units, Any Combination)               4397
Planned Unit Development                        4281
Quadruplex (4 Units, Any Combination)           1608
Triplex (3 Units, Any Combination)              1168
Cluster Home                                     691
Mobile Home                                      158
Manufactured, Modular, Prefabricated Homes       105
Residential General                              104
Cooperative                                       57
Commercial/Office/Residential Mixed Used          32
Townhouse                                         17
Store/Office (Mixed Use)                           1
Name: propertylandusedesc, dtype: int64

In [61]:
df = reindex_zillow(df)
df.sample(10).T

,143245,165971,78553,145299,112466,3275,36325,135194,33396,129068
parcelid,14670659,11417242,11250090,12013983,14382559,11078404,17083319,12864941,12933112,14754465
logerror,0.00772724,0.132119,-0.1696,-0.0229566,0.00520157,0.0583,0.6981,0.155178,0.008,0.0465317
bedroomcnt,2,3,4,2,4,4,3,2,3,1
bathroomcnt,2,2,2,2,2,3,2,2,3,1
calculatedfinishedsquarefeet,1031,1404,1839,1065,1867,2966,1465,1118,1842,685
transactiondate,2017-06-30,2017-09-12,2016-09-22,2017-07-07,2017-03-31,2016-01-19,2016-05-18,2017-06-09,2016-05-09,2017-05-23
yearbuilt,1989,2004,1978,1966,1975,1976,1973,1972,1954,1984
fips,6059,6037,6037,6037,6059,6037,6111,6037,6037,6059
latitude,3.35977e+07,3.39328e+07,3.46129e+07,3.41173e+07,3.36003e+07,3.42477e+07,3.42781e+07,3.41097e+07,3.4073e+07,3.35704e+07
longitude,-1.1772e+08,-1.18355e+08,-1.17812e+08,-1.1834e+08,-1.17694e+08,-1.18623e+08,-1.1924e+08,-1.17737e+08,-1.17869e+08,-1.17709e+08
airconditioningtypeid,NaN,NaN,NaN,1,1,1,NaN,1,NaN,NaN
airconditioningdesc,NaN,NaN,NaN,Central,Central,Central,NaN,Central,NaN,NaN
architecturalstyletypeid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
architecturalstyledesc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
basementsqft,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
buildingclasstypeid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
buildingqualitytypeid,NaN,6,7,7,NaN,4,NaN,6,4,NaN
buildingclassdesc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
calculatedbathnbr,2,2,2,2,2,3,2,2,3,1
decktypeid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedfloor1squarefeet,NaN,NaN,NaN,NaN,NaN,NaN,1465,NaN,NaN,NaN
finishedsquarefeet12,1031,1404,1839,1065,1867,2966,1465,1118,1842,685
finishedsquarefeet13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet50,NaN,NaN,NaN,NaN,NaN,NaN,1465,NaN,NaN,NaN
finishedsquarefeet6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fireplacecnt,NaN,NaN,NaN,NaN,1,NaN,1,NaN,NaN,NaN
fullbathcnt,2,2,2,2,2,3,2,2,3,1
garagecarcnt,1,NaN,NaN,NaN,2,NaN,2,NaN,NaN,1
garagetotalsqft,0,NaN,NaN,NaN,588,NaN,462,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...
pooltypeid2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pooltypeid7,NaN,NaN,NaN,1,1,1,NaN,1,NaN,NaN
propertycountylandusecode,34,0100,0100,010C,122,0101,1111,010D,0100,34
propertylandusetypeid,266,261,261,266,261,261,261,269,261,266
propertylandusedesc,Condominium,Single Family Residential,Single Family Residential,Condominium,Single Family Residential,Single Family Residential,Single Family Residential,Planned Unit Development,Single Family Residential,Condominium
propertyzoningdesc,NaN,LCR 2,LCRA20000*,LARE15,NaN,LARA,NaN,POR2S*,WCR17500*,NaN
rawcensustractandblock,6.05906e+07,6.0376e+07,6.0379e+07,6.03719e+07,6.05904e+07,6.03711e+07,6.111e+07,6.0374e+07,6.0374e+07,6.05904e+07
regionidcity,37086,45888,40227,12447,25458,12447,34543,20008,14542,37086
regionidcounty,1286,3101,3101,3101,1286,3101,2061,3101,3101,1286
regionidneighborhood,NaN,NaN,NaN,274049,NaN,37835,761055,NaN,NaN,NaN
regionidzip,96974,96136,97344,96049,96971,96346,97083,96507,96524,96974
roomcnt,0,0,0,0,9,0,6,0,0,0
storytypeid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
storydesc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
threequarterbathnbr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
typeconstructiontypeid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
typeconstructiondesc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
unitcnt,NaN,1,1,1,NaN,1,NaN,1,1,NaN
yardbuildingsqft17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
yardbuildingsqft26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
numberofstories,NaN,NaN,NaN,NaN,1,NaN,1,NaN,NaN,NaN
fireplaceflag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
structuretaxvaluedollarcnt,106255,193103,87310,123995,139522,178487,123955,101019,63220,77063
taxvaluedollarcnt,415000,469809,116889,314148,599492,216500,144103,157797,75841,127059
assessmentyear,2016,2016,2015,2016,2016,2015,2015,2016,2015,2016
landtaxvaluedollarcnt,308745,276706,29579,190153,459970,38013,20148,56778,12621,49996
taxamount,4172.68,6089.68,1622.65,3837.42,6195.76,3009.09,1632.08,1926.29,1224.15,1304.58
taxdelinquencyflag,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
taxdelinquencyyear,NaN,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
censustractandblock,6.05906e+13,6.0376e+13,6.0379e+13,6.03719e+13,6.05904e+13,6.03711e+13,6.111e+13,6.0374e+13,6.0374e+13,6.05904e+13

#### Include only single unit properties (e.g. no duplexes, no land/lot, ...) For some properties, you will need to use multiple fields to estimate whether it is a single unit property.

In [62]:
df.loc[(df['propertylandusedesc'] != 'Single Family Residential') &\
      (df['propertylandusedesc'] != 'Mobile Home') &\
      (df['propertylandusedesc'] != 'Manufactured, Modular, Prefabricated Homes')]

,parcelid,logerror,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,transactiondate,yearbuilt,fips,latitude,longitude,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
3,12643413,0.021800,2.0,2.0,839.0,2016-01-02,1987.0,6037.0,33755800.0,-118309000.0,...,NaN,NaN,171518.0,244880.0,2015.0,73362.0,3048.74,NaN,NaN,6.037296e+13
7,17177301,0.163800,3.0,2.5,1763.0,2016-01-02,1994.0,6111.0,34207204.0,-119165589.0,...,2.0,NaN,107000.0,306000.0,2015.0,199000.0,3745.50,NaN,NaN,6.111003e+13
8,14739064,-0.003000,2.0,1.0,796.0,2016-01-02,1984.0,6059.0,33549600.0,-117678000.0,...,NaN,NaN,66834.0,210064.0,2015.0,143230.0,2172.88,NaN,NaN,6.059042e+13
9,14677559,0.084300,2.0,2.0,1260.0,2016-01-03,1977.0,6059.0,33612700.0,-117742000.0,...,1.0,NaN,109977.0,190960.0,2015.0,80983.0,1940.26,NaN,NaN,6.059063e+13
13,14665244,0.081600,2.0,2.0,1249.0,2016-01-03,2005.0,6059.0,33670900.0,-117844000.0,...,NaN,NaN,398747.0,601000.0,2015.0,202253.0,6876.70,NaN,NaN,6.059063e+13
16,17296797,0.044000,3.0,2.5,1558.0,2016-01-03,1979.0,6111.0,34176362.0,-118757591.0,...,2.0,NaN,168000.0,480000.0,2015.0,312000.0,6383.74,NaN,NaN,6.111007e+13
17,12524288,-0.041900,1.0,1.0,597.0,2016-01-03,1970.0,6037.0,33776400.0,-118123000.0,...,NaN,NaN,56233.0,70316.0,2015.0,14083.0,913.17,NaN,NaN,6.037575e+13
27,14646051,0.008000,2.0,2.5,1858.0,2016-01-03,1973.0,6059.0,33486586.0,-117722058.0,...,2.0,1.0,145291.0,825000.0,2015.0,679709.0,9553.56,NaN,NaN,6.059042e+13
28,10805063,0.001000,2.0,2.0,1045.0,2016-01-03,1966.0,6037.0,34167800.0,-118522000.0,...,NaN,NaN,135218.0,250245.0,2015.0,115027.0,3117.19,NaN,NaN,6.037140e+13
29,12524725,-0.053400,2.0,3.0,1329.0,2016-01-03,1983.0,6037.0,33780400.0,-118141000.0,...,NaN,NaN,117504.0,215097.0,2015.0,97593.0,2648.96,NaN,NaN,6.037577e+13
31,11624877,-0.029400,2.0,2.0,1422.0,2016-01-03,1981.0,6037.0,34057039.0,-118403959.0,...,NaN,NaN,202000.0,673000.0,2015.0,471000.0,8048.18,NaN,NaN,6.037269e+13
53,14693306,0.034400,2.0,2.5,1381.0,2016-01-03,1983.0,6059.0,33881039.0,-117966474.0,...,NaN,NaN,137169.0,221868.0,2015.0,84699.0,2706.62,NaN,NaN,6.059111e+13
55,11510907,0.063900,2.0,2.0,1137.0,2016-01-03,1989.0,6037.0,33865271.0,-118397145.0,...,NaN,NaN,211236.0,450376.0,2015.0,239140.0,5034.94,NaN,NaN,6.037621e+13
56,11519155,0.057300,5.0,4.0,3088.0,2016-01-03,1964.0,6037.0,34022328.0,-118386706.0,...,NaN,NaN,173092.0,548138.0,2015.0,375046.0,7931.14,NaN,NaN,6.037702e+13
59,12086710,0.076000,2.0,2.0,991.0,2016-01-04,1974.0,6037.0,34139900.0,-118232000.0,...,NaN,NaN,82173.0,108255.0,2015.0,26082.0,1186.52,NaN,NaN,6.037302e+13
62,14632504,0.010900,2.0,2.0,1110.0,2016-01-04,1989.0,6059.0,33647048.0,-117590608.0,...,NaN,NaN,125203.0,241654.0,2015.0,116451.0,3157.30,NaN,NaN,6.059032e+13
64,14696295,0.000000,2.0,2.0,1344.0,2016-01-04,1979.0,6059.0,33842977.0,-117787958.0,...,NaN,NaN,133631.0,418161.0,2015.0,284530.0,4727.78,NaN,NaN,6.059022e+13
66,14674493,-0.035600,2.0,2.5,1206.0,2016-01-04,2010.0,6059.0,33687327.0,-117744160.0,...,NaN,NaN,175451.0,444915.0,2015.0,269464.0,7314.10,NaN,NaN,6.059052e+13
67,17249897,0.022700,2.0,2.5,1591.0,2016-01-04,1981.0,6111.0,34270500.0,-118673000.0,...,2.0,NaN,177000.0,356000.0,2015.0,179000.0,4035.16,NaN,NaN,6.111008e+13
68,10908638,0.001000,3.0,3.0,1302.0,2016-01-04,1981.0,6037.0,34150900.0,-118379000.0,...,NaN,NaN,144179.0,270803.0,2015.0,126624.0,3394.54,NaN,NaN,6.037143e+13
75,14731078,-0.038700,3.0,3.0,1694.0,2016-01-04,1999.0,6059.0,33661106.0,-117631840.0,...,NaN,NaN,190029.0,412815.0,2015.0,222786.0,4096.12,NaN,NaN,6.059032e+13
77,11523731,-0.029400,2.0,3.0,1430.0,2016-01-04,2003.0,6037.0,33971800.0,-118425000.0,...,NaN,NaN,255000.0,709000.0,2015.0,454000.0,10977.80,NaN,NaN,6.037276e+13
81,12533657,0.027600,2.0,2.0,937.0,2016-01-04,1990.0,6037.0,33783100.0,-118150000.0,...,NaN,NaN,50164.0,175575.0,2015.0,125411.0,3424.09,Y,13.0,6.037575e+13
85,17158640,0.114200,2.0,2.0,1368.0,2016-01-04,1985.0,6111.0,34180558.0,-119233197.0,...,1.0,NaN,228961.0,457922.0,2015.0,228961.0,5634.56,NaN,NaN,6.111004e+13
86,14733074,0.033400,2.0,2.0,1506.0,2016-01-04,1980.0,6059.0,33586571.0,-117661260.0,...,NaN,NaN,154332.0,382516.0,2015.0,228184.0,4016.24,NaN,NaN,6.059032e+13
94,11986763,-0.078000,6.0,4.0,3871.0,2016-01-04,1929.0,6037.0,34071234.0,-118370173.0,...,NaN,NaN,346605.0,706349.0,2015.0,359744.0,8774.04,NaN,NaN,6.037215e+13
95,17192496,-0.006000,3.0,2.5,1445.0,2016-01-04,2013.0,6111.0,34196289.0,-118957642.0,...,2.0,NaN,253078.0,422137.0,2015.0,169059.0,4480.90,NaN,NaN,6.111006e+13
96,14715925,-0.124400,1.0,1.0,676.0,2016-01-04,1980.0,6059.0,33574200.0,-117703000.0,...,NaN,NaN,62901.0,171465.0,2015.0,108564.0,1808.44,NaN,NaN,6.059042e+13
98,14616359,-0.078000,2.0,2.0,1051.0,2016-01-04,1980.0,6059.0,33839407.0,-118048161.0,...,NaN,NaN,96563.0,171485.0,2015.0,74922.0,2254.32,NaN,NaN,6.059110e+13
102,17118736,-0.409500,1.0,1.0,718.0,2016-01-04,1990.0,6111.0,34221909.0,-119179263.0,...,1.0,NaN,58000.0,165000.0,2015.0,107000.0,1972.24,NaN,NaN,6.111003e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167768,11500052,0.083798,9.0,5.0,4175.0,2017-09-19,1963.0,6037.0,33886779.0,-118393521.0,...,NaN,NaN,101667.0,145132.0,2016.0,43465.0,2317.01,NaN,NaN,6.037621e+13
167770,11794640,0.125634,0.0,1.0,1540.0,2017-09-19,1923.0,6037.0,34041200.0,-118233000.0,...,NaN,NaN,600000.0,815000.0,2016.0,215000.0,6467.95,NaN,NaN,6.037206e+13
167775,10848574,0.052324,2.0,3.0,1016.0,2017-09-19,1989.0,6037.0,34165100.0,-118454000.0,...,NaN,NaN,150773.0,377968.0,2016.0,227195.0,4518.44,NaN,NaN,6.037129e+13
167776,11493850,0.066381,2.0,2.0,1464.0,2017-09-19,1979.0,6037.0,33859100.0,-118370000.0,...,NaN,NaN,170827.0,274115.0,2016.0,103288.0,3389.13,NaN,NaN,6.037621e+13
167777,11780814,-0.136861,1.0,2.0,1110.0,2017-09-19,2007.0,6037.0,34041700.0,-118263000.0,...,NaN,NaN,343477.0,561556.0,2016.0,218079.0,7143.21,NaN,NaN,6.037208e+13
167779,11590589,0.013205,3.0,2.0,1450.0,2017-09-19,1990.0,6037.0,34007500.0,-118484000.0,...,NaN,NaN,221320.0,620899.0,2016.0,399579.0,7578.26,NaN,NaN,6.037702e+13
167784,10826543,0.037127,2.0,2.0,1100.0,2017-09-19,2006.0,6037.0,34201500.0,-118438000.0,...,NaN,NaN,227000.0,302000.0,2016.0,75000.0,3695.81,NaN,NaN,6.037127e+13
167788,12299508,-0.000742,3.0,2.0,1228.0,2017-09-19,1947.0,6037.0,33947011.0,-118195881.0,...,NaN,NaN,99808.0,182078.0,2016.0,82270.0,2526.60,NaN,NaN,6.037536e+13
167791,11077371,0.012465,3.0,3.0,1747.0,2017-09-19,1970.0,6037.0,34259400.0,-118611000.0,...,NaN,NaN,127493.0,251867.0,2016.0,124374.0,3092.21,NaN,NaN,6.037113e+13
167793,11167818,0.065458,5.0,3.0,2289.0,2017-09-19,1975.0,6037.0,34395151.0,-118559877.0,...,NaN,NaN,340108.0,543158.0,2016.0,203050.0,7064.70,NaN,NaN,6.037920e+13
167798,11163569,0.052625,2.0,2.0,987.0,2017-09-19,1969.0,6037.0,34380600.0,-118545000.0,...,NaN,NaN,106868.0,159193.0,2016.0,52325.0,2470.88,NaN,NaN,6.037920e+13
167801,11588082,0.008378,2.0,3.0,1658.0,2017-09-19,1989.0,6037.0,34007500.0,-118480000.0,...,NaN,NaN,276235.0,960827.0,2016.0,684592.0,11387.24,NaN,NaN,6.037702e+13
167805,12001455,0.029136,2.0,2.0,1625.0,2017-09-19,2004.0,6037.0,34090000.0,-118365000.0,...,NaN,NaN,207962.0,877477.0,2016.0,669515.0,10657.66,NaN,NaN,6.037700e+13
167806,10862967,0.013019,2.0,2.0,1213.0,2017-09-19,1965.0,6037.0,34152100.0,-118466000.0,...,NaN,NaN,144470.0,411176.0,2016.0,266706.0,4913.74,NaN,NaN,6.037141e+13
167807,11745372,0.061986,4.0,3.0,2054.0,2017-09-19,1905.0,6037.0,34037893.0,-118301784.0,...,NaN,NaN,143150.0,477167.0,2016.0,334017.0,5870.80,Y,15.0,6.037221e+13
167808,11141426,0.006263,1.0,1.0,588.0,2017-09-19,1990.0,6037.0,34377200.0,-118508000.0,...,NaN,NaN,97971.0,152286.0,2016.0,54315.0,2413.87,NaN,NaN,6.037920e+13
167809,12442507,0.047829,1.0,1.0,750.0,2017-09-19,1981.0,6037.0,33886400.0,-118152000.0,...,NaN,NaN,85049.0,141746.0,2016.0,56697.0,1949.72,NaN,NaN,6.037554e+13
167811,11614072,0.020616,2.0,2.0,2072.0,2017-09-19,1975.0,6037.0,34048300.0,-118437000.0,...,NaN,NaN,183874.0,659364.0,2016.0,475490.0,7925.97,NaN,NaN,6.037267e+13
167813,12653880,0.088733,8.0,6.0,4422.0,2017-09-19,1978.0,6037.0,34034622.0,-118274739.0,...,NaN,NaN,208000.0,1040000.0,2016.0,832000.0,12720.40,NaN,NaN,6.037297e+13
167814,11485692,0.064191,4.0,3.0,2180.0,2017-09-19,1973.0,6037.0,33885900.0,-118373000.0,...,NaN,NaN,237110.0,797109.0,2016.0,559999.0,9340.93,NaN,NaN,6.037621e+13
167816,11484775,-0.011303,2.0,2.0,1414.0,2017-09-19,NaN,6037.0,33903035.0,-118362505.0,...,NaN,NaN,70904.0,235818.0,2016.0,164914.0,3359.85,NaN,NaN,6.037602e+13
167823,12906571,0.019484,3.0,2.0,1368.0,2017-09-19,1973.0,6037.0,34104718.0,-117792298.0,...,NaN,NaN,100483.0,188115.0,2016.0,87632.0,2527.69,NaN,NaN,6.037400e+13
167826,11487400,0.046755,2.0,2.0,1213.0,2017-09-19,1978.0,6037.0,33874055.0,-118366297.0,...,NaN,NaN,136104.0,213230.0,2016.0,77126.0,2940.30,NaN,NaN,6.037621e+13
167831,11490983,-0.036067,2.0,1.0,1070.0,2017-09-19,1985.0,6037.0,33872100.0,-118371000.0,...,NaN,NaN,132620.0,242126.0,2016.0,109506.0,3018.98,NaN,NaN,6.037621e+13
167833,11068972,0.015806,4.0,5.0,5210.0,2017-09-19,2010.0,6037.0,34296608.0,-118573153.0,...,NaN,NaN,790000.0,1316000.0,2016.0,526000.0,16032.16,NaN,NaN,6.037108e+13
167834,11490089,0.068838,2.0,2.0,1258.0,2017-09-19,1977.0,6037.0,33870300.0,-118378000.0,...,NaN,NaN,157315.0,302341.0,2016.0,145026.0,3774.07,NaN,NaN,6.037621e+13
167842,10722237,0.052630,2.0,1.0,868.0,2017-09-19,1977.0,6037.0,34199600.0,-118614000.0,...,NaN,NaN,114934.0,259738.0,2016.0,144804.0,3225.40,NaN,NaN,6.037134e+13
167845,12666457,0.028733,3.0,3.0,2200.0,2017-09-19,2006.0,6037.0,33825211.0,-118388099.0,...,NaN,NaN,226351.0,1414710.0,2016.0,1188359.0,16388.30,NaN,NaN,6.037621e+13
167846,10858613,-0.075465,2.0,2.0,1261.0,2017-09-19,1971.0,6037.0,34148100.0,-118442000.0,...,NaN,NaN,131899.0,346788.0,2016.0,214889.0,4231.76,NaN,NaN,6.037141e+13
167849,10833991,-0.002245,3.0,3.0,1741.0,2017-09-20,1980.0,6037.0,34202400.0,-118502000.0,...,NaN,NaN,265000.0,379000.0,2016.0,114000.0,4685.34,NaN,NaN,6.037132e+13

The following function will remove any listings that have 0 restrooms, 0 bedrooms, or a unincnt listing with 2 or more.  Additionally, it will remove all listings that are not either listed as Single Family Residential, Mobile Home, or Manufactured, Modular, Prefrabricated Homes in the propertylandusedesc column.

In [63]:
def drop_land_listings(df):
    df.drop(df[df['bedroomcnt'] == 0.0].index, inplace=True)
    df.drop(df[df['bathroomcnt'] == 0.0].index, inplace=True)
    df.drop(df[df['unitcnt'] >= 2.0].index, inplace=True)
    df.drop(df[(df['propertylandusedesc'] != 'Single Family Residential') &\
      (df['propertylandusedesc'] != 'Mobile Home') &\
      (df['propertylandusedesc'] != 'Manufactured, Modular, Prefabricated Homes')].index, inplace=True)
    return df

In [64]:
drop_land_listings(df)
df.shape

(112689, 67)

Creat a function that takes in a dataframe and a list of columns names and returns the dataframe with the datatypes of those columns changed to a non-numeric type.
Use this function to appropriately transform any numeric columns that should not be treated as numbers

Looking at this list below, transaction date and propertycountlandusecode should be numerical instead of objects.
- Update: Propertycountylandusecode has multiple rows with mixed numeric and alpha values.  Transactiondate will be the only feature that will be converted to numeric.

In [73]:
df.select_dtypes('number').sample(10).T

,18182,112309,136973,95037,108058,4173,2454,93664,120733,16308
parcelid,1.400976e+07,1.259328e+07,1.109288e+07,1.387370e+07,1.136159e+07,1.715911e+07,1.111721e+07,1.433308e+07,1.088652e+07,1.280728e+07
logerror,2.000000e-03,-1.329859e-01,-9.001305e-03,1.503353e-02,9.675103e-03,2.000000e-03,1.880000e-02,1.011267e-01,2.945593e-01,3.440000e-02
bedroomcnt,3.000000e+00,3.000000e+00,4.000000e+00,4.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,4.000000e+00,3.000000e+00,3.000000e+00
bathroomcnt,2.000000e+00,2.000000e+00,3.000000e+00,2.000000e+00,3.000000e+00,2.000000e+00,3.000000e+00,4.500000e+00,2.000000e+00,2.000000e+00
calculatedfinishedsquarefeet,1.858000e+03,1.172000e+03,2.793000e+03,1.937000e+03,1.814000e+03,1.350000e+03,3.189000e+03,4.382000e+03,1.620000e+03,1.272000e+03
transactiondate,2.016032e+07,2.017033e+07,2.017062e+07,2.017012e+07,2.017032e+07,2.016012e+07,2.016011e+07,2.017012e+07,2.017043e+07,2.016032e+07
yearbuilt,1.961000e+03,1.960000e+03,1.953000e+03,1.922000e+03,1.989000e+03,1.962000e+03,2.013000e+03,1.992000e+03,1.954000e+03,1.950000e+03
fips,6.059000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.037000e+03,6.111000e+03,6.037000e+03,6.059000e+03,6.037000e+03,6.037000e+03
latitude,3.377886e+07,3.384130e+07,3.423657e+07,3.387419e+07,3.445176e+07,3.421842e+07,3.446293e+07,3.374590e+07,3.418333e+07,3.396692e+07
longitude,-1.179630e+08,-1.182914e+08,-1.185207e+08,-1.179302e+08,-1.186601e+08,-1.191920e+08,-1.185647e+08,-1.177868e+08,-1.184180e+08,-1.180713e+08
airconditioningtypeid,NaN,NaN,1.000000e+00,NaN,1.000000e+00,NaN,NaN,NaN,1.000000e+00,NaN
architecturalstyletypeid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
basementsqft,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
buildingclasstypeid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
buildingqualitytypeid,NaN,6.000000e+00,8.000000e+00,NaN,8.000000e+00,NaN,4.000000e+00,NaN,6.000000e+00,7.000000e+00
calculatedbathnbr,2.000000e+00,2.000000e+00,3.000000e+00,2.000000e+00,3.000000e+00,2.000000e+00,3.000000e+00,4.500000e+00,2.000000e+00,2.000000e+00
decktypeid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedfloor1squarefeet,NaN,NaN,NaN,NaN,NaN,1.350000e+03,NaN,NaN,NaN,NaN
finishedsquarefeet12,1.858000e+03,1.172000e+03,2.793000e+03,1.937000e+03,1.814000e+03,1.350000e+03,3.189000e+03,4.382000e+03,1.620000e+03,1.272000e+03
finishedsquarefeet13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet50,NaN,NaN,NaN,NaN,NaN,1.350000e+03,NaN,NaN,NaN,NaN
finishedsquarefeet6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fireplacecnt,NaN,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN
fullbathcnt,2.000000e+00,2.000000e+00,3.000000e+00,2.000000e+00,3.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,2.000000e+00,2.000000e+00
garagecarcnt,2.000000e+00,NaN,NaN,2.000000e+00,NaN,2.000000e+00,NaN,2.000000e+00,NaN,NaN
garagetotalsqft,5.120000e+02,NaN,NaN,4.000000e+02,NaN,4.950000e+02,NaN,6.380000e+02,NaN,NaN
hashottuborspa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN
heatingorsystemtypeid,NaN,2.000000e+00,2.000000e+00,NaN,2.000000e+00,NaN,2.000000e+01,NaN,2.000000e+00,7.000000e+00
lotsizesquarefeet,9.100000e+03,4.987000e+03,1.688400e+04,6.002000e+03,4.958000e+03,6.461000e+03,5.599000e+03,1.050000e+04,5.999000e+03,6.536000e+03
poolcnt,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,NaN
poolsizesum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pooltypeid10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pooltypeid2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN
pooltypeid7,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,1.000000e+00,NaN
propertylandusetypeid,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02
rawcensustractandblock,6.059089e+07,6.037544e+07,6.037115e+07,6.059011e+07,6.037920e+07,6.111003e+07,6.037920e+07,6.059076e+07,6.037124e+07,6.037502e+07
regionidcity,2.483200e+04,1.188780e+05,1.244700e+04,2.481200e+04,1.073400e+04,1.315000e+04,NaN,2.749100e+04,1.244700e+04,3.965560e+05
regionidcounty,1.286000e+03,3.101000e+03,3.101000e+03,1.286000e+03,3.101000e+03,2.061000e+03,3.101000e+03,1.286000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,NaN,NaN,3.318300e+04,NaN,NaN,NaN,NaN,NaN,2.685480e+05,NaN
regionidzip,9.704800e+04,9.616000e+04,9.635500e+04,9.704000e+04,9.639800e+04,9.710100e+04,9.637700e+04,9.701800e+04,9.641000e+04,9.617400e+04
roomcnt,6.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
storytypeid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
threequarterbathnbr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN
typeconstructiontypeid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
unitcnt,NaN,1.000000e+00,1.000000e+00,NaN,1.000000e+00,NaN,1.000000e+00,NaN,1.000000e+00,1.000000e+00
yardbuildingsqft17,NaN,NaN,NaN,NaN,NaN,2.190000e+02,NaN,NaN,NaN,NaN
yardbuildingsqft26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
numberofstories,1.000000e+00,NaN,NaN,1.000000e+00,NaN,1.000000e+00,NaN,NaN,NaN,NaN
fireplaceflag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
structuretaxvaluedollarcnt,5.522900e+04,2.449700e+04,2.875740e+05,8.439700e+04,8.419000e+04,2.294950e+05,4.489480e+05,7.035030e+05,1.397370e+05,3.424500e+04
taxvaluedollarcnt,8.070400e+04,5.677700e+04,6.815120e+05,6.330000e+05,1.543460e+05,3.824920e+05,6.555090e+05,1.673000e+06,3.458950e+05,5.645500e+04
assessmentyear,2.015000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.015000e+03,2.015000e+03,2.016000e+03,2.016000e+03,2.015000e+03
landtaxvaluedollarcnt,2.547500e+04,3.228000e+04,3.939380e+05,5.486030e+05,7.015600e+04,1.529970e+05,2.065610e+05,9.694970e+05,2.061580e+05,2.221000e+04
taxamount,1.312280e+03,6.096190e+03,8.396580e+03,7.203360e+03,2.113110e+03,4.600100e+03,1.360513e+04,1.850494e+04,4.271670e+03,1.023820e+03
taxdelinquencyyear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
censustractandblock,6.059089e+13,6.037544e+13,6.037115e+13,6.059011e+13,6.037920e+13,6.111003e+13,6.037920e+13,6.059076e+13,6.037124e+13,6.037502e+13

In [65]:
df.select_dtypes('object')

,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertycountylandusecode,propertylandusedesc,propertyzoningdesc,storydesc,typeconstructiondesc,taxdelinquencyflag
0,2016-01-01,Central,NaN,NaN,Central,0100,Single Family Residential,LARS,NaN,NaN,NaN
1,2016-01-01,NaN,NaN,NaN,NaN,1,Single Family Residential,NaN,NaN,NaN,NaN
2,2016-01-01,Central,NaN,NaN,Central,0100,Single Family Residential,PSR6,NaN,NaN,NaN
4,2016-01-02,NaN,NaN,NaN,NaN,122,Single Family Residential,NaN,NaN,NaN,NaN
5,2016-01-02,Central,NaN,NaN,Central,0100,Single Family Residential,HBR3YY,NaN,NaN,NaN
6,2016-01-02,NaN,NaN,NaN,Floor/Wall,0100,Single Family Residential,CORH*,NaN,NaN,NaN
10,2016-01-03,NaN,NaN,NaN,Central,0100,Single Family Residential,LARE9,NaN,NaN,NaN
11,2016-01-03,Central,NaN,NaN,Central,0100,Single Family Residential,LAR1,NaN,NaN,NaN
12,2016-01-03,NaN,NaN,NaN,Floor/Wall,0100,Single Family Residential,BUR1*,NaN,NaN,NaN
14,2016-01-03,NaN,NaN,NaN,NaN,122,Single Family Residential,NaN,NaN,NaN,NaN
15,2016-01-03,None,NaN,NaN,Forced air,122,Single Family Residential,NaN,NaN,NaN,NaN
18,2016-01-03,NaN,NaN,NaN,NaN,122,Single Family Residential,NaN,NaN,NaN,NaN
19,2016-01-03,Central,NaN,NaN,Central,0100,Single Family Residential,LAR1,NaN,NaN,NaN
20,2016-01-03,NaN,NaN,NaN,Floor/Wall,0100,Single Family Residential,LBR1N,NaN,NaN,NaN
21,2016-01-03,Yes,NaN,NaN,NaN,122,Single Family Residential,NaN,NaN,NaN,NaN
22,2016-01-03,NaN,NaN,NaN,NaN,122,Single Family Residential,NaN,NaN,NaN,NaN
23,2016-01-03,NaN,NaN,NaN,Central,0104,Single Family Residential,LAR1,NaN,NaN,NaN
24,2016-01-03,NaN,NaN,NaN,NaN,122,Single Family Residential,NaN,NaN,NaN,NaN
25,2016-01-03,Central,NaN,NaN,Central,0100,Single Family Residential,LMR1*,NaN,NaN,NaN
26,2016-01-03,Central,NaN,NaN,Central,0100,Single Family Residential,PDRPD6.6U*,NaN,NaN,NaN
30,2016-01-03,NaN,NaN,NaN,Central,0100,Single Family Residential,SCUR2,NaN,NaN,NaN
32,2016-01-03,NaN,NaN,NaN,Floor/Wall,0101,Single Family Residential,LBR1N,NaN,NaN,NaN
33,2016-01-03,Central,NaN,NaN,Central,0100,Single Family Residential,LAR1,NaN,NaN,NaN
34,2016-01-03,NaN,NaN,NaN,Floor/Wall,0100,Single Family Residential,LAR1,NaN,NaN,NaN
35,2016-01-03,NaN,NaN,NaN,Floor/Wall,0100,Single Family Residential,LAR1,NaN,NaN,NaN
36,2016-01-03,NaN,NaN,NaN,NaN,122,Single Family Residential,NaN,NaN,NaN,NaN
37,2016-01-03,Yes,NaN,NaN,NaN,122,Single Family Residential,NaN,NaN,NaN,NaN
38,2016-01-03,NaN,NaN,NaN,Floor/Wall,0100,Single Family Residential,PAR1YY,NaN,NaN,NaN
39,2016-01-03,NaN,NaN,NaN,NaN,122,Single Family Residential,NaN,NaN,NaN,NaN
40,2016-01-03,NaN,NaN,NaN,Central,0101,Single Family Residential,PSR2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
167810,2017-09-19,Central,NaN,NaN,Central,0100,Single Family Residential,LCR18500*,NaN,NaN,NaN
167812,2017-09-19,NaN,NaN,NaN,Floor/Wall,0100,Single Family Residential,LVPR4.5D*,NaN,NaN,NaN
167815,2017-09-19,Central,NaN,NaN,Central,0101,Single Family Residential,SDSP27U*,NaN,NaN,NaN
167817,2017-09-19,Central,NaN,NaN,Central,0100,Single Family Residential,WCR17500*,NaN,NaN,NaN
167818,2017-09-19,NaN,NaN,NaN,Floor/Wall,0100,Single Family Residential,LAR1,NaN,NaN,NaN
167819,2017-09-19,NaN,NaN,NaN,Floor/Wall,0101,Single Family Residential,BUR1YY,NaN,NaN,NaN
167820,2017-09-19,NaN,NaN,NaN,Central,0100,Single Family Residential,WCPCD1*,NaN,NaN,NaN
167821,2017-09-19,NaN,NaN,NaN,Central,0101,Single Family Residential,LARE15,NaN,NaN,NaN
167822,2017-09-19,Central,NaN,NaN,Central,0101,Single Family Residential,WAR17200*,NaN,NaN,NaN
167824,2017-09-19,NaN,NaN,NaN,Floor/Wall,0100,Single Family Residential,LARD2,NaN,NaN,NaN
167825,2017-09-19,NaN,NaN,NaN,Floor/Wall,0100,Single Family Residential,LARS,NaN,NaN,NaN
167827,2017-09-19,NaN,NaN,NaN,Floor/Wall,0100,Single Family Residential,HGR2*,NaN,NaN,Y
167828,2017-09-19,Central,NaN,NaN,Central,0100,Single Family Residential,LAR1,NaN,NaN,NaN
167829,2017-09-19,NaN,NaN,NaN,Floor/Wall,0100,Single Family Residential,POR3YY,NaN,NaN,NaN
167830,2017-09-19,NaN,NaN,NaN,Floor/Wall,0100,Single Family Residential,POR2*,NaN,NaN,NaN
167832,2017-09-19,NaN,NaN,NaN,Central,0101,Single Family Residential,DOR110000*,NaN,NaN,NaN
167835,2017-09-19,NaN,NaN,NaN,Floor/Wall,0100,Single Family Residential,ATA10000*,NaN,NaN,NaN
167836,2017-09-19,NaN,NaN,NaN,Central,0101,Single Family Residential,TORR-LO,NaN,NaN,NaN
167837,2017-09-19,NaN,NaN,NaN,Floor/Wall,0100,Single Family Residential,BFA15000*,NaN,NaN,NaN
167839,2017-09-19,NaN,NaN,NaN,Central,0100,Single Family Residential,LAR1,NaN,NaN,Y
167840,2017-09-19,Central,NaN,NaN,Central,0100,Single Family Residential,LAR1,NaN,NaN,NaN
167841,2017-09-19,NaN,NaN,NaN,Floor/Wall,0100,Single Family Residential,LCA110000*,NaN,NaN,NaN
167843,2017-09-19,NaN,NaN,NaN,NaN,0100,Single Family Residential,GLR1YY,NaN,NaN,NaN
167844,2017-09-19,NaN,NaN,NaN,Central,0100,Single Family Residential,POR17500*,NaN,NaN,NaN
167847,2017-09-19,Central,NaN,NaN,Central,0100,Single Family Residential,LARS,NaN,NaN,NaN
167848,2017-09-19,NaN,NaN,NaN,Central,0100,Single Family Residential,ATR16000*,NaN,NaN,NaN
167850,2017-09-20,NaN,NaN,NaN,Central,0100,Single Family Residential,LARE40,NaN,NaN,NaN
167851,2017-09-21,NaN,NaN,NaN,NaN,1111,Single Family Residential,NaN,NaN,NaN,NaN
167852,2017-09-21,Central,NaN,NaN,Central,0100,Single Family Residential,SER1*,NaN,NaN,NaN
167853,2017-09-25,NaN,NaN,NaN,Central,0100,Single Family Residential,WHR16000*,NaN,NaN,NaN

In [66]:
df['transactiondate'] = pd.to_numeric(df.transactiondate.str.replace('-', ''))
df.head()

,parcelid,logerror,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,transactiondate,yearbuilt,fips,latitude,longitude,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,3.0,2.0,1684.0,20160101,1959.0,6037.0,34280990.0,-118488536.0,...,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.88,NaN,NaN,6.037107e+13
1,14366692,-0.1684,4.0,3.5,2263.0,20160101,2014.0,6059.0,33668120.0,-117677556.0,...,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.02,NaN,NaN,NaN
2,12098116,-0.0040,2.0,3.0,2217.0,20160101,1940.0,6037.0,34136312.0,-118175032.0,...,NaN,NaN,61994.0,119906.0,2015.0,57912.0,11484.48,NaN,NaN,6.037464e+13
4,14432541,-0.0050,4.0,2.5,2283.0,20160102,1981.0,6059.0,33485643.0,-117700234.0,...,2.0,NaN,169574.0,434551.0,2015.0,264977.0,5488.96,NaN,NaN,6.059042e+13
5,11509835,-0.2705,4.0,4.0,3067.0,20160102,1982.0,6037.0,33870089.0,-118402768.0,...,NaN,NaN,880650.0,2447951.0,2015.0,1567301.0,27126.57,NaN,NaN,6.037621e+13

In [69]:
cols_to_numeric = ['transactiondate']
def convert_date_object_to_int(df, list_of_cols):
    for col in list_of_cols:
        df[[col]] = df[[col]].astype(int)
    return df

In [71]:
convert_date_object_to_int(df, cols_to_numeric)
df.head()

,parcelid,logerror,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,transactiondate,yearbuilt,fips,latitude,longitude,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,3.0,2.0,1684.0,20160101,1959.0,6037.0,34280990.0,-118488536.0,...,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.88,NaN,NaN,6.037107e+13
1,14366692,-0.1684,4.0,3.5,2263.0,20160101,2014.0,6059.0,33668120.0,-117677556.0,...,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.02,NaN,NaN,NaN
2,12098116,-0.0040,2.0,3.0,2217.0,20160101,1940.0,6037.0,34136312.0,-118175032.0,...,NaN,NaN,61994.0,119906.0,2015.0,57912.0,11484.48,NaN,NaN,6.037464e+13
4,14432541,-0.0050,4.0,2.5,2283.0,20160102,1981.0,6059.0,33485643.0,-117700234.0,...,2.0,NaN,169574.0,434551.0,2015.0,264977.0,5488.96,NaN,NaN,6.059042e+13
5,11509835,-0.2705,4.0,4.0,3067.0,20160102,1982.0,6037.0,33870089.0,-118402768.0,...,NaN,NaN,880650.0,2447951.0,2015.0,1567301.0,27126.57,NaN,NaN,6.037621e+13