In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import itertools

import acquire
from acquire import items_acquisition
from acquire import stores_acquisitions
from acquire import sales_acquisitions

# JSON API
import requests
import json

# data visualization
import matplotlib
import seaborn as sns
import statsmodels.api as sm

%matplotlib inline

# ignore warnings
import warnings

In [8]:
def sales_acquisitions():
    base_url = 'https://python.zach.lol'

    response = requests.get('https://python.zach.lol/api/v1/sales')
    data_sa = response.json()
    
    sales = pd.DataFrame(data_sa['payload']['sales'])
    
    while (data_sa['payload']['page']) < data_sa['payload']['max_page']:
        
        response = requests.get(base_url + data_sa['payload']['next_page'])
        data_sa = response.json()
        sales = pd.concat([sales, pd.DataFrame(data_sa['payload']['sales'])]).reset_index()
        sales.drop(columns=['index'], inplace=True)
        
        if (data_sa['payload']['next_page']) == data_sa['payload']['max_page']:
            break
        
        print((data_sa['payload']['page']))
        

    return sales

In [9]:
sales = sales_acquisitions()

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183

In [10]:
sales.shape

(913000, 5)

In [11]:
sales.to_csv(r'sales.csv')

In [15]:
sales = pd.read_csv('sales.csv', index_col=0)
sales.shape

(913000, 5)

In [2]:
items = items_acquisition()
items.shape

2
3

(50, 6)

In [3]:
stores = stores_acquisitions()
stores.shape

(10, 5)

In [4]:
items.to_csv(r'items.csv')

In [5]:
stores.to_csv(r'stores.csv')

In [19]:
sales.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

In [11]:
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [14]:
stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [ ]:
sales_items =

In [ ]:
def merge_dfs(df1, df2, df3):